<a href="https://colab.research.google.com/github/code4tomorrow/machine-learning/blob/main/1_beginner/chapter1/introductory_requirements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introductory Requirements**

**Imports**

Click the cell, and run it. There should be no active output, but now you have access to the pandas library. We’ll get to what it does in a minute. Meanwhile, this is a good place to explain what the import syntax means. The first two words should be fairly obvious, we’re just importing pandas. However, we’ll be calling pandas functions a lot, and typing out pandas every time will be really tiresome. So instead, we import pandas with a nickname, so to speak. For convention, we’ll be using pd, but you could really use anything.

In [ ]:
import pandas as pd

NumPy is a math library, but even though we’re going to be doing a lot of math, we’ll use NumPy somewhat rarely. 

np is our standard “nickname” for NumPy.

In [ ]:
import numpy as np

Matplotlib is our graphing library, and we’ll be using this to visualize our problems and results. We’re not going to go very far into detail in this course, but we’ll do more in the next course on Classification. At any rate, MatPlotLib is still a really important library, and you should know how to use it.

In [ ]:
import matplotlib.pyplot as plt

**Scikit Learn** - 

Scikit learn is our Machine Learning library, and contains the actual algorithms that perform the ML. We’re going to be importing it a lot, but not as a full package, the way we imported Pandas or Numpy. SciKit Learn contains an incredible number of functions and functionalities, so we’ll be importing the individual components instead of the total.

Run the next cell, which contains a for-loop to print every number between 1 and 9.

In [ ]:
for i in range(1,10):
  print(i)

**Iteration**

 In the next cell, write a for-loop to print the employee IDs of the employees mentioned in exampleDf.

In [ ]:
#for loop to print the employee IDs of the employees from exampleDf

**Sets**

There are two easy ways to create a set. The first one is just a direct initialization:


*set1 = {“item1”, “item2”, “item3”}*

The second way involves using the set constructor to create a set:


*set2 = set((“item1”, “item2”, “item3”))*


Duplicates are not allowed. Sets don’t have a particular order and the set is unchangeable.

In [ ]:
setOne = {"item1", "item2", "item3"}
setTwo = set(("item1", "item2", "item3"))

In [ ]:
setOne

In [ ]:
setTwo

To get the length of a set: *len(set)*

In [ ]:
len(setOne)

In [ ]:
len(setTwo)

**Tuples**

A tuple is another way of storing many values in a single variable. Like with Sets, there are two ways to create a new tuple.

*tupleOne = (“itemOne”, “itemTwo”, “itemThree”, “itemFour”)*

The second way to create a tuple is using the tuple constructor.

*tupleTwo = tuple((“itemOne”, “itemTwo”, “itemThree”, “itemFour”))*

In [ ]:
tupleOne = ("itemOne", "itemTwo", "itemThree", "itemFour")
tupleTwo = tuple(("itemOne", "itemTwo", "itemThree", "itemFour"))

In [ ]:
tupleOne

('itemOne', 'itemTwo', 'itemThree', 'itemFour')

In [ ]:
tupleTwo

('itemOne', 'itemTwo', 'itemThree', 'itemFour')

The same length method, *len(tuple)*, applies.

In [ ]:
len(tupleOne)

4

In [ ]:
len(tupleTwo)

4

**Dictionaries**

A dictionary in Python is a lot like a dictionary in the real world. For every word, there’s a particular meaning associated. This is what a dictionary is like. You look for the word, and find its meaning. You’ll see the syntax to create a new dictionary in the next cell. You can run this.

In [ ]:
exampleDict = {'X': [1,2,3,4], 'X^2' : [1,4,9,16]}
exampleDict

{'X': [1, 2, 3, 4], 'X^2': [1, 4, 9, 16]}


A dictionary consists of two main parts, a key and a value. If you specify a particular key, you can extract the corresponding value from the dictionary. However, Dictionaries don’t allow duplicate keys, for obvious reasons. If a real world dictionary contained two words with the same spelling, but different meanings, how would you know which one to reference?

*dict[“key”]*, for example, provides the value at the particular key within the dictionary dict.

In [ ]:
exampleDict["X"]

[1, 2, 3, 4]

*len(dict)* gives the length of the dictionary, and the number of keys in it.

In [ ]:
len(exampleDict)

2

**Pandas and Dataframes**

Dataframes are the basis of Pandas. Dataframes are like Excel Sheets, effectively. They’re tables that contain information formatted as rows and columns. Click the next cell, and press *Shift+Enter*, and run it. This cell first creates a dictionary and then converts it to a dataframe. Don’t worry about dictionaries if you don’t recognize those - we’ll get to those in a moment.
The table that has appeared below the cell is what a dataframe looks like.

Our method of creating a dictionary actually involves fitting a list of values under each key, but you can put anything under it, no matter the data type.

In [ ]:
exampleDictTwo = {'EmployeeID': ['0001','0002','0003','0004','0005','0006','0007','0008'],
        'Job': ['Police Officer','Programmer','Data Scientist','Machine Learning Engineer','Data Engineer','MLOps Engineer','Python Developer','Statistician']
        }
exampleDf = pd.DataFrame(exampleDictTwo,columns = ['EmployeeID','Job'])        
exampleDf

There are many operations on Dataframes, but there are only a few we’ll be using.

*.head()* is one of the most useful dataframe methods. This operation produces the top or head of a dataframe. The operation gives the first 5 rows by default, but you can specify any number n of rows as *.head(n)*

Run the next two cells. These will give the top of a data frame. We use *.head()* to get a sense of what the dataframe is like, before we work on it.

In [ ]:
exampleDf.head()

In [ ]:
exampleDf.head(2)

We’ll cover more Data frame operations soon, but we’ll do it as part of the ML we do. For now, however, let’s review Python in a quiz first.