<a href="https://colab.research.google.com/github/code4tomorrow/machine-learning/blob/main/1_beginner/chapter7/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Machine Learning: Multiple Linear Regression**

**Import all Libraries and Upload Data**

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from google.colab import files
uploaded = files.upload()

Saving kc_house_data.csv to kc_house_data.csv

Now, put the data into a dataframe.

In [ ]:
houseDataFrame = pd.read_csv("kc_house_data.csv")

Let us see what features the dataframe has:

In [ ]:
houseDataFrame.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

**Train-Test Split**

We are going to use a randomized mask to split the data into train and test data as we did before.

In [ ]:
msk = np.random.rand(len(houseDataFrame))<0.8
train = houseDataFrame[msk]
test = houseDataFrame[~msk]

Now, let's split the data into input and output.

In [ ]:
train_x = train[["bedrooms","bathrooms","sqft_living","sqft_lot","floors","view","condition","grade","sqft_above","sqft_basement","yr_built","yr_renovated","sqft_living15","sqft_lot15","lat","long"]]
train_y = train[["price"]]
test_x = test[["bedrooms","bathrooms","sqft_living","sqft_lot","floors","view","condition","grade","sqft_above","sqft_basement","yr_built","yr_renovated","sqft_living15","sqft_lot15","lat","long"]]
test_y = test[["price"]]

**Training**

Now, create a LinearRegression object, and fit it to the training data.

In [ ]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Evaluation**

We'll use the R^2 score to evaluate the Multiple Linear Regression model. You can see though, that this isn't a great approach, because the accuracy is not **very** high. However, the processes to improve accuracy from here are a little beyond the scope of this course: they involve better feature selection.

In [ ]:
from sklearn.metrics import r2_score
test_y_ = regr.predict(test_x)
print("R2-Score: %2f" % r2_score(test_y,test_y_))

R2-Score: 0.673835

And that's it! Now you have built a multiple Linear Regression model to predict housing prices. If you want, even try it out on your own house information, and see how close it is. 

(This data is based on housing prices from King's County, USA. You can learn more about the data here: https://www.kaggle.com/harlfoxem/housesalesprediction)